body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  border: solid white 10px;
  padding: 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  box-shadow: 0 0 100px rgba(142, 18, 18, 0.5);
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

#result {
  border: 1px solid #ccc;
  width: 100px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#resetButton {
  margin: 20px;
  width: 80px;
  height: 30px;
  font-size: 15px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 25px;
}
